SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_ISO3166](
	[name] [nvarchar](255) NULL,
	[alpha-2] [nchar](2) NULL,
	[alpha-3] [nchar](3) NULL,
	[country-code] [nchar](3) NULL,
	[region] [nvarchar](64) NULL,
	[sub-region] [nvarchar](64) NULL,
	[intermediate-region] [nvarchar](64) NULL,
	[region-code] [nchar](3) NULL,
	[sub-region-code] [nchar](3) NULL,
	[intermediate-region-code] [nchar](3) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[CT_ISO3166] ([name], [alpha-2], [alpha-3], [country-code], [region], [sub-region], [intermediate-region], [region-code], [sub-region-code], [intermediate-region-code]) VALUES (N'Afghanistan', N'AF', N'AFG', N'004', N'Asia', N'Southern Asia', NULL, N'142', N'034', NULL)
INSERT [dbo].[CT_ISO3166] ([name], [alpha-2], [alpha-3], [country-code], [region], [sub-region], [intermediate-region], [region-code], [sub-region-code], [intermediate-region-code]) VALUES (N'Åland Islands', N'AX', N'ALA', N'248', N'Europe', N'Northern Europe', NULL, N'150', N'154', NULL)
INSERT [dbo].[CT_ISO3166] ([name], [alpha-2], [alpha-3], [country-code], [region], [sub-region], [intermediate-region], [region-code], [sub-region-code], [intermediate-region-code]) VALUES (N'Albania', N'AL', N'ALB', N'008', N'Europe', N'Southern Europe', NULL, N'150', N'039', NULL)
GO
